<div class="jumbotron">
  <h1>Great!  You've ordered a beverage, successfully!</h1>
  <p>You submitted an order for: <%= @beverage.selection %></p>
  <br>
  <p>Your order was sumbitted on: <%= @beverage.created_at %></p>

  <a href="/beverages/new"><button type="button" class="btn btn-primary">Order another drink</button></a>
  <a href="/beverages"><button type="button" class="btn btn-default">See your drink history</button></a>
</div>