<div class="jumbotron">
  <h1>Welcome to Bev Selector!</h1>
  <br>
  <p>Use Bev Selector to order drinks.</p>

  <a href="/beverages/new"><button type="button" class="btn btn-primary">Order a drink</button></a>
</div>
